@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
    background-color: #111;
    /* #1a191f; */
    /* //#090a0b; */
    color: #ffffff;
}

img,
svg,
picture,
video {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.navbar-toggler {
    color: white !important;
}

.booking {
    align-items: center;
    border-radius: 30px;
    background: rgb(170, 168, 168);
    width: 75%;
    padding: 2em;
}

.cover{
    background-image: url('../../../public/cover.avif'); /* Chemin vers l'image de fond */
    background-size: cover; /* Permet de couvrir toute la surface de la div */
    background-position: center center; /* Centre l'image de fond horizontalement et verticalement */
    background-repeat: no-repeat; /* Empêche la répétition de l'image de fond */
}

.ticket {   
    margin-top: 1em;
    align-items: center;
    border-radius: 30px;
    background: rgb(170, 168, 168);
    width: 75%;
    padding: 2em;
}

.ticket_number {
    display: flex;
    flex-direction: row;
}

.input-ticket {
    width: 10%;
    height: 2em;
    border-radius: 10px;
    margin-left: 1em;
    margin-bottom: 1em;
}

.formInput {
    display: inline;
    margin-bottom: 20px;
    background-color: #222028;
    border: 2px solid transparent;
    height: 46px;
    position: relative;
    color: #fff;
    font-size: 16px;
    width: 100%;
    border-radius: 6px;
    padding: 0 20px;
}

.formInput:focus {
    outline-style: solid;
    outline-color: #f9ab00;
}

select {
    margin-bottom: 20px;
    background-color: #222028;
    border: 0px solid transparent;
    height: 46px;
    position: relative;
    color: #fff;
    font-size: 16px;
    width: auto;
    border-radius: 6px;
    padding: 0 20px;
}

.bodyclass {
    font-size: 1rem; 
    line-height: 1.5; 
    color: #212529; 
    text-align: left;  
}
 
.thText {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    color: rgba(255,255,255,0.7);
    font-weight: 400;
    line-height: 30px;
    padding: 15px 15px 0 15px;
    white-space: nowrap;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: transparent;
    border: 0px solid transparent;
    width: 100%;
}

.mainTable {
    width: 100%;
    min-width: 1050px;
    border-spacing: 0;
    background-color: #1a191f;
    padding: 1em;
    margin-bottom: 1em;
}

.tableText {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 30px;
    padding: 15px;
    background-color: #222028;
    white-space: nowrap;
    margin: 0;
}


tr {
    /* border-bottom: 10px solid #1a191f; */
     
}

td {
    background-color: transparent;
    border: 0px solid transparent;
    color: white;
}

#button-container {
    width: 100%;
    display:block;
    position:relative;
    margin-top: 100px;
    text-align: center;
    height: auto;
}

.containerFlex {
   display: flex;
   justify-content: center; /* aligne les boutons horizontalement au centre */
   align-items: center; 
}

#save {
    margin: 0 10px; 
    height: 46px;
    width: 140px;
    border-radius: 6px;
    font-size: 14px;
    text-transform: uppercase;
    border: 2px solid #f9ab00;
    margin-top: 10px; 
    color: #fff;
    background-color: #1a191f;
    font-size: 14px;
}

#dismiss {
    margin: 0 10px; 
    height: 46px;
    width: 140px;
    border-radius: 6px;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 10px; 
    color: #fff;
    background-color: #222028;
    border: none;
    font-size: 14px;
}

.buttonAction {
    display: flex;
    border:none;
    flex-direction: row;
    justify-content: center;
    background: none;
    border-radius: 6px;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: cursor;
    outline: none;
    margin-right: 2em;
}

.buttonAdd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 140px;
    border-radius: 6px;
    font-size: 14px;
    text-transform: uppercase;
    border: 2px solid #f9ab00;
    margin-top: 10px; 
    color: white;
    background-color: #1a191f;
}

form {
    /* background-color: #1a191f; */
    display: inline-flexbox ;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.delete {
    background-color: rgba(235,87,87,0.08);
}

.delete:hover {
    background-color: rgba(235,87,87,0.2);
}

.edit {
    background-color: rgba(255,195,18,0.08);
}

.edit:hover {
    background-color: rgba(255,195,18,0.2);
}

.modalTitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 15px;
    display: flex;
    left: 50%;
}